@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
  }
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-clear-button {
    display: none;
  }
  